*.pyc
**/data
__pycache__/
.*_cache/
envs
**/charts
coverage
.coverage
virtual_env
workspace
.vscode
.venv
.coverage-report/
**/ovms_config
**/ov_models
*.lock
!poetry.lock
.env
.coverage
ov_model_venv
ovms_config
.ovms