# CODEOWNERS
# This file defines file ownership for automatic review requests.
# The later matching patterns take precedence over the earlier ones, which means that more specific patterns should appear after general ones.
# If a resource has under three technical code owners, it should not be assigned to the Documentation team either, even if it includes documentation (for the process reasons).

LICENSE             @xwu2intel
CONTRIBUTING.md     @xwu2intel
CODE_OF_CONDUCT.md  @xwu2intel
SECURITY.md         @xwu2intel
README.md           @xwu2intel

# GitHub Workflows
/.github/workflows/dls*.yml @tbujewsk @nszczygl9 @dmichalo @yangjianfeng1208

# ============================================================================
# Libraries
# ============================================================================
 
/libraries/edge-control-libraries/                                                                         @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel
/libraries/edge-control-libraries/README.md                                                                @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/fieldbus/ecat-enablekit/docs/                                            @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/fieldbus/ecat-enablekit/README.md                                        @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/fieldbus/ethercat-masterstack/docs/                                      @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/fieldbus/ethercat-masterstack/README.md                                  @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/fieldbus/ethercat-masterstack/ighethercat/README.md                      @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/plcopen-motion-control/docs/                                             @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/plcopen-motion-control/README.md                                         @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/plcopen-motion-control/plcopen-servo/README.md                           @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/plcopen-motion-control/plcopen-motion/README.md                          @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/rt-data-agent/libshm/README.md                                           @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/edge-control-libraries/rt-data-agent/stack/README.md                                            @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write

/libraries/robotics-ai-libraries/                                                                          @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel
/libraries/robotics-ai-libraries/flann/README.md                                                           @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/pcl/README.md                                                             @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/orb-extractor/README.md                                                   @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/README.md                                                                 @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/README.md                                          @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/amr/joint_state_publisher/README.md                @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/amr/ydlidar_ros2/README.md                         @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/hiwin/run_hiwin_plc_acrn/README.md       @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/hiwin/run_hiwin_plc/README.md            @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/hiwin/hiwin_ros/README.md                @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/hiwin/hiwin_ros/hiwin_driver/README.md   @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/hiwin/hiwin_moveit_py/README.md          @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/hiwin/run_hiwin_moveit/README.md         @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/jaka/jaka_moveit_py/README.md            @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/jaka/jaka_servo/README.md                @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/jaka/jaka_bringup/README.md              @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/jaka/run_jaka_moveit/README.md           @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/jaka/run_jaka_plc/README.md              @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write
/libraries/robotics-ai-libraries/motion-control-gateway/robot_arm/utils/pykdl_utils/README.md              @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel @open-edge-platform/open-edge-platform-docs-write

/libraries/video-chunking-utils/                       @Johere @zhangcong2019 @llin60 @xwu2intel
/libraries/video-chunking-utils/docs/                  @Johere @zhangcong2019 @llin60 @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/libraries/video-chunking-utils/README.md              @Johere @zhangcong2019 @llin60 @xwu2intel @open-edge-platform/open-edge-platform-docs-write

# ============================================================================
# microservices
# ============================================================================
/microservices/audio-analyzer/                         @bhardwaj-nakul @bharagha @krish918 @yogeshmpandey
/microservices/audio-analyzer/docs/                    @bhardwaj-nakul @bharagha @krish918 @yogeshmpandey @open-edge-platform/open-edge-platform-docs-write
/microservices/audio-analyzer/README.md                @bhardwaj-nakul @bharagha @krish918 @yogeshmpandey @open-edge-platform/open-edge-platform-docs-write

/microservices/dlstreamer-pipeline-server/             @tbujewsk @OskarFiedot @marcin-wadolkowski @nszczygl9 @dmichalo @msmiatac @jmotow @pbartosik @mholowni @oonyshch @walidbarakat
/microservices/dlstreamer-pipeline-server/docs/        @tbujewsk @OskarFiedot @marcin-wadolkowski @nszczygl9 @dmichalo @msmiatac @jmotow @pbartosik @mholowni @oonyshch @walidbarakat  @open-edge-platform/open-edge-platform-docs-write
/microservices/dlstreamer-pipeline-server/README.md    @tbujewsk @OskarFiedot @marcin-wadolkowski @nszczygl9 @dmichalo @msmiatac @jmotow @pbartosik @mholowni @oonyshch @walidbarakat  @open-edge-platform/open-edge-platform-docs-write

/microservices/document-ingestion/                     @bharagha @madhuri-rai07 @yogeshmpandey
/microservices/document-ingestion/docs/                @bharagha @madhuri-rai07 @yogeshmpandey  @open-edge-platform/open-edge-platform-docs-write
/microservices/document-ingestion/README.md            @bharagha @madhuri-rai07 @yogeshmpandey  @open-edge-platform/open-edge-platform-docs-write

/microservices/model-download/                         @bharagha @madhuri-rai07 @14pankaj
/microservices/model-download/docs/                    @bharagha @madhuri-rai07 @14pankaj  @open-edge-platform/open-edge-platform-docs-write
/microservices/model-download/README.md                @bharagha @madhuri-rai07 @14pankaj  @open-edge-platform/open-edge-platform-docs-write

/microservices/model-registry/                         @bharagha @madhuri-rai07 @14pankaj
/microservices/model-registry/docs/                    @bharagha @madhuri-rai07 @14pankaj  @open-edge-platform/open-edge-platform-docs-write
/microservices/model-registry/README.md                @bharagha @madhuri-rai07 @14pankaj  @open-edge-platform/open-edge-platform-docs-write

# the main folder lacks codeowners, needs resolution
# /microservices/multilevel-video-understanding/
# /microservices/multilevel-video-understanding/docs/      @Johere @zhangcong2019 @llin60 @xwu2intel @open-edge-platform/open-edge-platform-docs-write
# /microservices/multilevel-video-understanding/README.md  @Johere @zhangcong2019 @llin60 @xwu2intel @open-edge-platform/open-edge-platform-docs-write

/microservices/multimodal-embedding-serving/           @bhardwaj-nakul @bharagha @yogeshmpandey @llin60
/microservices/multimodal-embedding-serving/docs/      @bhardwaj-nakul @bharagha @yogeshmpandey @llin60  @open-edge-platform/open-edge-platform-docs-write
/microservices/multimodal-embedding-serving/README.md  @bhardwaj-nakul @bharagha @yogeshmpandey @llin60  @open-edge-platform/open-edge-platform-docs-write

/microservices/time-series-analytics/                  @vkb1 @sathyendranv @pooja-intel @SudarshanaPanda @rashmihe
/microservices/time-series-analytics/docs/             @vkb1 @sathyendranv @pooja-intel @SudarshanaPanda @rashmihe  @open-edge-platform/open-edge-platform-docs-write
/microservices/time-series-analytics/README.md         @vkb1 @sathyendranv @pooja-intel @SudarshanaPanda @rashmihe  @open-edge-platform/open-edge-platform-docs-write

/microservices/vector-retriever/                                @bhardwaj-nakul @krish918 @llin60 @zhangcong2019
/microservices/vector-retriever/docs/                           @bhardwaj-nakul @krish918 @llin60 @zhangcong2019  @open-edge-platform/open-edge-platform-docs-write
/microservices/vector-retriever/README.md                       @bhardwaj-nakul @krish918 @llin60 @zhangcong2019  @open-edge-platform/open-edge-platform-docs-write

/microservices/visual-data-preparation-for-retrieval/           @bhardwaj-nakul @krish918 @llin60 @zhangcong2019
/microservices/visual-data-preparation-for-retrieval/docs/      @bhardwaj-nakul @krish918 @llin60 @zhangcong2019  @open-edge-platform/open-edge-platform-docs-write
/microservices/visual-data-preparation-for-retrieval/README.md  @bhardwaj-nakul @krish918 @llin60 @zhangcong2019  @open-edge-platform/open-edge-platform-docs-write

/microservices/vlm-openvino-serving/                            @bhardwaj-nakul @bharagha @yogeshmpandey @llin60
/microservices/vlm-openvino-serving/docs/                       @bhardwaj-nakul @bharagha @yogeshmpandey @llin60  @open-edge-platform/open-edge-platform-docs-write
/microservices/vlm-openvino-serving/README.md                   @bhardwaj-nakul @bharagha @yogeshmpandey @llin60  @open-edge-platform/open-edge-platform-docs-write


# ============================================================================
# Sample Applications
# ============================================================================
/sample-applications/chat-question-and-answer/                @bharagha @yogeshmpandey @madhuri-rai07
/sample-applications/chat-question-and-answer/docs/           @bharagha @yogeshmpandey @madhuri-rai07  @open-edge-platform/open-edge-platform-docs-write
/sample-applications/chat-question-and-answer/README.md       @bharagha @yogeshmpandey @madhuri-rai07  @open-edge-platform/open-edge-platform-docs-write

/sample-applications/chat-question-and-answer-core/           @bharagha @yogeshmpandey @madhuri-rai07
/sample-applications/chat-question-and-answer-core/docs/      @bharagha @yogeshmpandey @madhuri-rai07  @open-edge-platform/open-edge-platform-docs-write
/sample-applications/chat-question-and-answer-core/README.md  @bharagha @yogeshmpandey @madhuri-rai07  @open-edge-platform/open-edge-platform-docs-write

# the main folder lacks codeowners, needs resolution
# /sample-applications/document-summarization

/sample-applications/plcopen-benchmark/                       @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel
/sample-applications/plcopen-benchmark/README.md              @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel  @open-edge-platform/open-edge-platform-docs-write

/sample-applications/plcopen-databus/                         @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel
/sample-applications/plcopen-databus/README.md                @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz @seanohair22 @zschafft-intel  @open-edge-platform/open-edge-platform-docs-write

/sample-applications/video-search-and-summarization/          @bharagha @yogeshmpandey @bhardwaj-nakul @krish918
/sample-applications/video-search-and-summarization/docs/     @bharagha @yogeshmpandey @bhardwaj-nakul @krish918  @open-edge-platform/open-edge-platform-docs-write
/sample-applications/video-search-and-summarization/README.md @bharagha @yogeshmpandey @bhardwaj-nakul @krish918  @open-edge-platform/open-edge-platform-docs-write

# ============================================================================
# Tools
# ============================================================================

# the main folder lacks codeowners, needs resolution
# /tools/npu-monitor-tool/

/tools/visual-pipeline-and-platform-evaluation-tool/           @p-zak @KaliszWiktoria @dlemiech @staszczuk @grey-eminence
/tools/visual-pipeline-and-platform-evaluation-tool/docs/      @p-zak @KaliszWiktoria @dlemiech @staszczuk @grey-eminence   @open-edge-platform/open-edge-platform-docs-write
/tools/visual-pipeline-and-platform-evaluation-tool/README.md  @p-zak @KaliszWiktoria @dlemiech @staszczuk @grey-eminence   @open-edge-platform/open-edge-platform-docs-write

# ============================================================================
# Frameworks
# ============================================================================
/frameworks/edgedevice-enablement-framework/             @chinthap @ANUSHABHASKAR @mutra-vamsi
/frameworks/edgedevice-enablement-framework/README.md    @chinthap @ANUSHABHASKAR @mutra-vamsi  @open-edge-platform/open-edge-platform-docs-write

