# Dependencies for MLflow
mlflow==3.11.1
# Dependencies for Postgres DB adapter
psycopg2-binary==2.9.10
# Dependencies for Minio client
boto3==1.36.19
minio==7.2.15
# Dependencies for FastAPI
fastapi==0.115.11
uvicorn==0.34.0
python-multipart==0.0.26
# Resolves Pydantic Extra warnings
pydantic==2.12.4
pydantic_core==2.41.5
geti-sdk==2.13.1
